/* FormStudent.css */

.student-table-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 20px;
  box-sizing: border-box;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px; /* Set a minimum width for the table */
}

.student-table th,
.student-table td {
  border: 1px solid #ececec;
  padding: 8px;
  text-align: left;
  white-space: nowrap; /* Prevent text from wrapping */
}

.student-table tr {
  background-color: #fefefe;
  transition: all 0.2s;
}

.student-table tr:hover {
  background-color: #eee;
}

.student-table th {
  background-color: #575757;
  font-weight: bold;
}

.student-table td input[type="text"],
.student-table td input[type="date"],
.student-table td input[type="number"],
.student-table td select {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  font-size: 14px;
}

.student-table img {
  display: block;
  margin: auto;
  width: 70px;
  height: auto;
  border-radius: 10%;
}

.form-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #999;
}

.add-button,
.save-button,
.cancel-button,
.edit-button,
.delete-button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #474747;
  transition: background-color 0.2s;
}
.clear-button{
  color: #eee;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #474747;
  min-width:100px;
}
.clear-button:hover{
  background-color: #4aafdd;
}
.add-button,
.save-button,
.edit-button {
  
  color: white;
  border: none;
}

.add-button:hover,
.save-button:hover,
.edit-button:hover {
  background-color: #45a049;
}

.cancel-button,
.delete-button {
  color: white;
  border: none;
}

.cancel-button:hover,
.delete-button:hover {
  background-color: #e53935;
}

.table-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

@media (max-width: 800px) {
  .form-container {
    padding: 10px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group input,
  .form-group select {
    padding: 8px;
    font-size: 14px;
  }
  
  .add-button,
  .save-button,
  .cancel-button,
  .edit-button,
  .delete-button
  .clear-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
.filter-container{
  padding: 20px;
  margin: 2px;
  display: flex;
  gap: 1rem;
}
.filter-container input{
  flex: 1;
  width: 200px;
  height: 30px;
}
.filter-container select{
  flex: 1;
  width: 200px;
  height: 36px;
}