/* css/AddFine.css */

.add-fine-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-fine-container h2, 
.add-fine-container h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    background-color: #61f334;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #2ab400;
}

.student-card {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.student-details {
    flex: 2;
}

.student-photo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-photo img {
    border-radius: 20px;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.student-details p {
    margin: 5px 0;
    font-size: 16px;
}

.student-details strong {
    color: #555;
}

.fine-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.fine-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.fine-form input, .fine-form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.fine-form input[readonly], .fine-form select[readonly] {
    background-color: #e9ecef;
}

.fine-form button {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.fine-form button:hover {
    background-color: #218838;
}

.loading, .error {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.error {
    color: red;
}
