/* css/SearchStudent.css */

.search-student-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-student-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    background-color: #7FF546;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #3cb400;
}

.student-card {
    display: flex;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.student-details {
    flex: 1;
}

.student-photo {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.student-photo img {
    border-radius: 20px;
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.student-details p {
    margin: 5px 0;
    font-size: 16px;
}

.student-details strong {
    color: #555;
}

.fine-records {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.fine-records h3 {
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #555555;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

tbody td {
    padding: 10px;
    border-top: 1px solid #ddd;
    font-size: 16px;
}

.rowActive{
    background-color: #e01328;
    color: white;
}
.rowPaid{
    background-color: #80d333;
    color: white;
}
.rowCancelled{
    background-color: #fafafa;
    color: black;
}
.rowWithdrawn{
    background-color: #faaa15;
    color: white;
}

tbody tr:hover {
    background-color: #4d4d4d;
    color: white;
}

.withdraw-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #faaa15;
    color: white;
    cursor: pointer;
}

.withdraw-button:hover {
    background-color: #c82333;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.loading {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
