@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;

  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body {


    min-height: 100vh;
    min-width: 320px;
    background-color: rgb(255, 255, 255);
    margin: 0;
  }
  
  