.profile-container {
    position: relative;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure child elements do not overflow */
  }
  
  .profile-container.role1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/student-profile.png');
    background-size: cover;
    background-position: center;
    filter: blur(6px); /* Apply the blur effect */
    z-index: -1; /* Place the pseudo-element behind the content */
  }
  
  .profile-container.role2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/staff-profile.png');
    background-size: cover;
    background-position: center;
    filter: blur(6px); /* Apply the blur effect */
    z-index: -1; /* Place the pseudo-element behind the content */
  }
  
  .profile-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #fff; /* Changed to white for better contrast */
  }
  
  .profile-details {
    display: flex;
    align-items: center;
    color: #fff; /* Changed to white for better contrast */
  }
  
  .profile-image {
    flex: 1;
    max-width: 200px;
    margin-right: 20px;
  }
  
  .profile-image img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-info {
    flex: 2;
  }
  
  .profile-info p {
    margin: 5px 0;
    font-size: 1.1em;
  }
  
  .profile-info p strong {
    color: #ffffff; /* Changed to yellow for better contrast */
  }

  .profile-info p {
    color: #e9e4e4;
  }
  